.body {
    font-family: 'Lato', sans-serif;
}


.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-produk img {
    max-height: 100px;
}

.pilih-produk .card {
    border-radius: 15px;
}
.row-foot{
    width: 100%;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

.breadcrumb > .breadcrumb-item-active {
    font-weight: bold;
    color: black;
}

.btn-dark{
    border-radius: 10px;
}

.bakerie img {
    max-height: 100px;
}

.bakerie .card {
    border-radius: 15px;
}
